<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Tytuł strony</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{style.css}">

</head>
<body>
<header class="header">
    <div class="container">
        <h1>Trainers infoShare</h1>
    </div>
</header>
<nav class="nav">
    <div class="container">
        <ul>

            <li><a th:href="@{/allTrainers}">Lista Trenerów</a></li>
            <li><a th:href="@{/addTrainer}">Dodaj Trenera</a></li>
            <li><a th:href="@{/updateTrainer}">Edytuj Trenera</a></li>
            <li><a th:href="@{/contact}">Trenerzy</a></li>

        </ul>
    </div>
</nav>
<section class="section" id="o-mnie">
    <div class="container">
        <h2>W razie kłopotów zadzwoń</h2>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p>&copy; infoShare</p>
    </div>
</footer>

</body>
</html>