<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Tytuł strony</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&amp;subset=latin-ext">
</head>
<body>
<header class="header">
    <div class="container">
        <h1>Trainers infoShare</h1>
    </div>
</header>
<nav class="nav">
    <div class="container">
        <ul>
            <li><a href="#o-mnie">Trenerzy</a></li>
            <li><a href="#oferta">Dodaj Trenera</a></li>
            <li><a href="#projekty">Edytuj Trenera</a></li>
            <li><a href="#kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>
<section class="section" id="o-mnie">
    <div class="container">
        <h2>Aplikacja umożliwia dodawanie, usuwanie oraz edytowanie trenerów infoShare academy.</h2>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p>&copy; infoShare</p>
    </div>
</footer>

</body>
</html>