<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Trainers Infoshare</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header class="header">
    <div class="container">
        <h1>Trainers infoShare</h1>
    </div>
</header>
<nav class="nav">
    <div class="container">
        <ul>
            <li><a th:href="@{/}">Main Page</a></li>
            <li><a th:href="@{/allTrainers}" >Trainers List</a></li>
            <li><a th:href="@{/addTrainerForm}">Add Trainer</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </div>
</nav>
<section class="section" id="o-mnie">
    <div class="container">
        <h2>Update Trainer</h2>
        <div class="trainerForm" align="left" >

            <form action="#" th:action="@{/saveTrainer}" th:object="${trainers}" method="POST">
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{firstName}" class="form-control">
                <input type="text" th:field="*{lastName}" class="form-control">
                <input type="text" th:field="*{email}" class="form-control">
                <input type="number" th:field="*{phoneNumber}" class="form-control">
                <button type="submit" class="btn btn-primary"> Update Trainer</button>
            </form>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p>&copy; infoShare</p>
    </div>
</footer>

</body>
</html>