<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Update Trainer Infoshare</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{style.css}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h2 class="updateForm">Update Trainer infoShare</h2>
    <hr>

    <form action="#" th:action="@{/saveTrainer}" th:object="${trainers}" method="POST" class="updateForm">
        <tr><td></td><td><input type="hidden" th:field="*{id}" /></td></tr>

        <tr><td>Update First Name</td><td><input type="text" th:field="*{firstName}" class="form-control mb-4 col-4"></td></tr>
        <tr><td>Update Last Name</td><td><input type="text" th:field="*{lastName}" class="form-control mb-4 col-4"></td></tr>
        <tr><td>Update Email</td><td><input type="text" th:field="*{email}" class="form-control mb-4 col-4"></td></tr>
        <tr><td>Update Phone Number</td><td><input type="number" th:field="*{phoneNumber}" class="form-control mb-4 col-4"></td></tr>

        <button type="submit" class="btn btn-warning col-2"> Update Trainer</button>
    </form>

    <hr>

</div>
</body>
</html>


